In [3]:
#PreProcessing
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE, ADASYN, RandomOverSampler
import joblib
import warnings
warnings.filterwarnings('ignore')
#Feature Engineering
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from xgboost import XGBClassifier        # recommended for feature importance
from catboost import CatBoostClassifier  # optional alternative, handles categorical features natively
#visualization
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import MaxNLocator
from matplotlib.colors import ListedColormap

In [2]:
df = pd.read_csv("D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/0_OR_clean.csv")

# Pre-Processing

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09/12/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09/12/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09/12/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09/12/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09/12/2011 12:50,4.95,12680.0,France

#### Missing Values

In [4]:
missing_values = df.isna().sum()
print(missing_values)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
df_clean = df.dropna(subset=['CustomerID'])

In [6]:
missing_values = df_clean.isna().sum()
print(missing_values)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

#### Duplicate Records

In [7]:
df_clean.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Length: 406829, dtype: bool

In [8]:
duplicate_count = df_clean.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 5225

In [9]:
duplicates = df_clean[df_clean.duplicated()]
duplicates.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,01/12/2010 11:45,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,01/12/2010 11:45,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,01/12/2010 11:45,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,01/12/2010 11:45,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,01/12/2010 11:49,2.95,17920.0,United Kingdom

In [10]:
df_clean = df_clean.drop_duplicates()

In [11]:
duplicate_count = df_clean.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 0

#### Noise/Outliers

In [12]:
for col in df.columns:
    print(f"{col}: {df[col].unique()}")

InvoiceNo: ['536365' '536366' '536367' ... '581585' '581586' '581587']
StockCode: ['85123A' '71053' '84406B' ... '90214U' '47591b' '23843']
Description: ['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
Quantity: [     6      8      2     32      3      4     24     12     48     18
     20     36     80     64     10    120     96     23      5      1
     -1     50     40    100    192    432    144    288    -12    -24
     16      9    128     25     30     28      7     56     72    200
    600    480     -6     14     -2     11     33     13     -4     -5
     -7     -3     70    252     60    216    384    -10     27     15
     22     19     17     21     34     47    108     52  -9360    -38
     75    270     42    240     90    320   1824    204     69    -36
   -192   -144    160   2880   1400     39    -48    -50     26   1440
     31     82     78     97     98     35     57    -20    110    -22
    -30    -70   -130    -80   -120    -40    -25    -14    -15    -69
   -140   -320     -8    720    156    324     38     37     49     95
     -9    -11     29     41    -72    -35    -21    -43    -19    -18
    -44    402    378    150    300     54    104     67    258     66
     44     55     46     99     61    408    972    208   1008   1000
    -77   1488    250   1394    400   -223   -150    -13    -33   -723
   -177     79     84    -32   -100    -28    272   -145    -47    -96
    113     45    106     68    267    115     65   1728    -60    -16
     53   -240     76    460     71     43    213     58    576   2400
    500    180   -300   -500    -23    752    960   1296    210    172
    215    129    138    116    135    197   -106    -54    -17   -939
    147    168    256   -201    -53    -29  -2600   -990   -290    -45
    860   1010   1356   1284    186    114    360   1930   2000   3114
   1300    670    111    211     59   -310    -61    -41    176    648
     62  74215 -74215    -64    -84     89  -1400     73    -57    112
    456    -59    -31   5568   2560    136    900   -600    -42    -94
   -207    -52    130   -206   2592    420    800    101   1200    864
   -217     94  -1430   1287   -162   -230   -173   -390   -234    504
    123    118    -76   -200   1056   1500    280    407    141    124
    -99     51    -92   -741   3906   -400   -114    102   1152    -88
    198    117     86   -720    125    -86   -391    -87   -278    140
    228   -154  -3000     81   -675   -210   -345   -975  -1200  -1121
    -27   -541  -1277   -197   3000  -1100    -63  -5368    219   -259
    232    -82   -178    170   -110    768     88    700   -102   2160
   -323   -450   -232    -83   -153   -524  -2472    -49   -105    342
    304    167    -34    640    175    220     74     93    164    163
     63    637    122    158    165    350    -46    -75   -690    -39
    -66     83    312   -180    392   -624   -194    -26    -62    -37
    -91   -139   -158  -1479    -55   -576   -750    330    151    -93
   -432    -58  -1092   -670  -1300  -1930  -2000  -3114    462    -65
    -68    492   -620    273    -90   -170  -1512    -51     85    -56
   -160   -360    105   -960  -2376   1350    428  -1350    336   -786
   -590   -168   -101    -71    132   -413   -664    227   2700    222
    246    906    756    888    552    -97    224    738    608   -212
   4300    146    143    276   -125   -116   -108   4000   -304   -272
  -1206    -95   1600    323   -161   -472   -618   -204   1515  -1515
  -9058  -9600    660   -420   -126   -220   -271  -1440    264    188
    588    612    152   -324   -480   -164    -78   -118    430  -1681
     87    155    701    828    540    696    560   -250   -408   -179
    121   -124    512   -251  -3100   3100   -169    126    291   3186
  -2834   -109    109   -121   -530   -227    261   -346    352    142
    107   -188  -1060   -342   -288    348   1900    157   -343   -455
    425    968    684    824   -828   -701    196    248    410    236
    230   -156   -553    145    448    245   -252   -334   -318   -113
   -115    171   -242    840   -967   -203  -3167   -443  -1897    225
   -434    750   -682   -484    682    344   -635   -117  -3667    450
    310    494   -384     92   1788   -138    624    744    416    496
    396    306   1878   1944    666    708   1428    852   1412    528
   -756   -752   -152    -85   -312    -79   -147    -67   -131    183
   -209   -186   -231   -129   -458   -275  -2880   1540    672   -800
   -430   -380    -74   -840  -1296   -365   -104   -270    -73   -306
     91    255    468   -468   -111   -184   -103   -335   4800   -112
  -1000    912   1992    184    148   -657  -1671  -1158  -2618  -2003
   -674  -4830   -905  -1128    832    992    630   1020   2100    162
  -1560  -1284    -81    314    370    131    133    484    149    153
    257    139    137    628    179   1820    478    335    253    242
    375   -276   -256    281    193    181    404    244    207    199
   1130    326    654    688    268    249   -864    234  -1510   -550
   -244   -132   -327   -313    279   -398   -280    374   -504   -696
   -149   -224   -428    212   -267   -175  12540    760    -98    774
   -151   2040  -1131   -135   1120     77   -900    177    490    388
    620   1404   -155   -355   -337  -1050   -338    205   -235    698
  80995 -80995]
InvoiceDate: ['01/12/2010 08:26' '01/12/2010 08:28' '01/12/2010 08:34' ...
 '09/12/2011 12:31' '09/12/2011 12:49' '09/12/2011 12:50']
UnitPrice: [   2.55    3.39    2.75 ...  933.17 1714.17  224.69]
CustomerID: [17850. 13047. 12583. ... 13298. 14569. 12713.]
Country: ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

In [13]:
print(df_clean['Quantity'].describe())

count    401604.000000
mean         12.183273
std         250.283037
min      -80995.000000
25%           2.000000
50%           5.000000
75%          12.000000
max       80995.000000
Name: Quantity, dtype: float64

In [14]:
negative_qty = df_clean[df_clean['Quantity'] < 0]
print("Negative Quantity rows:", negative_qty.shape[0])

Negative Quantity rows: 8872

In [15]:
large_qty = df_clean[df_clean['Quantity'] > df_clean['Quantity'].quantile(0.99)]
print("Top 1% largest quantities:", large_qty.shape[0])

Top 1% largest quantities: 3894

In [28]:
def classify_transaction(qty):
    if qty > 0:
        return 'Sale'
    elif qty < 0:
        return 'Return'
    else:
        return 'Not Sale'

df_clean['TransactionType'] = df_clean['Quantity'].apply(classify_transaction)
print(df_clean['TransactionType'].value_counts())

TransactionType
Sale      392692
Return      8872
Name: count, dtype: int64

In [17]:
print(df_clean['UnitPrice'].describe())

count    401604.000000
mean          3.474064
std          69.764035
min           0.000000
25%           1.250000
50%           1.950000
75%           3.750000
max       38970.000000
Name: UnitPrice, dtype: float64

In [18]:
invalid_price = df_clean[df_clean['UnitPrice'] <= 0]
print("Zero or negative UnitPrice rows:", invalid_price.shape[0])

Zero or negative UnitPrice rows: 40

In [20]:
df_clean = df_clean[df_clean['UnitPrice'] > 0]

In [19]:
high_price = df_clean[df_clean['UnitPrice'] > df_clean['UnitPrice'].quantile(0.99)]
print("Top 1% highest prices:", high_price.shape[0])

Top 1% highest prices: 3857

In [22]:
canceled_invoices = df_clean[df_clean['InvoiceNo'].astype(str).str.startswith('C')]

print("Number of canceled invoices:", canceled_invoices['InvoiceNo'].nunique())
print("Number of canceled rows:", len(canceled_invoices))

Number of canceled invoices: 3654
Number of canceled rows: 8872

In [23]:
non_numeric_codes = df_clean[~df_clean['StockCode'].str.isnumeric()]['StockCode'].unique()

print("Unique non-numeric StockCodes:")
print(non_numeric_codes)
print("Count:", len(non_numeric_codes))

Unique non-numeric StockCodes:
['85123A' '84406B' '84029G' '84029E' 'POST' '82494L' '85099C' '84997B'
 '84997C' '84519A' '85183B' '85071B' '37444A' '37444C' '84971S' '15056BL'
 '15056N' 'D' '35004C' '85049A' '85099B' '35004G' '85014B' '85014A'
 '84970S' '84030E' '35004B' '85049E' '17091A' '84509A' '84510A' '84709B'
 '84625C' '84625A' '47570B' '85049C' '85049D' '85049G' '84970L' '90199C'
 '90129F' '90210B' '72802C' '85169B' '85099F' '85184C' '35591T' '84032B'
 '85049H' '72800E' '84849B' '90200B' '90059B' '90185C' '90059E' '90059C'
 '90200C' '90200D' '90200A' '16258A' '85231B' '85231G' '48173C' '47563A'
 '84558A' '46000M' '71406C' '84985A' '84596E' '84997D' '47599A' '47599B'
 '85035B' '84968C' '72800B' '84563A' '47504H' '17164B' '15044B' '84569B'
 '85114B' '85114C' '85199L' '85199S' '85019A' '85019C' '85071A' '85071C'
 '85135B' '85136A' '85136C' 'C2' '79144B' '46000R' '46000S' '84508A'
 '85232B' '79066K' '84884A' '51014C' '51014L' '51014A' '79302M' '84509B'
 '84870C' '84870B' 'M' '85032D' '84760S' '35598D' '35598B' '15056P'
 '84032A' '84031A' '84997A' '90214M' '90214V' '90214S' '90214J' '72807C'
 '47591B' '85035C' '72803A' '85034A' '72798C' '35271S' '47567B' '72760B'
 '62096A' '85071D' '79191C' '84031B' '47566B' '47590B' '47590A' '85061W'
 '47591D' '84341B' '84509G' '84846A' '85132A' '85132B' '85132C' '85159A'
 '17090D' '17090A' '10124G' '84519B' '90175C' '90180A' '90178A' '85025C'
 '85124B' '85124C' '16156S' '85049F' '90082D' '90082A' '90082B' '90081A'
 '90185B' '90195A' '90195B' '90196A' '90199A' '90177C' '90186A' '18097A'
 '18097C' '85185D' '85185B' '15060B' '85114A' '72801C' '72801D'
 'BANK CHARGES' '84952C' '84952B' '35001G' '90002D' '72799E' '47559B'
 '16161P' '16161M' '84247G' '47021G' '85049B' '85131A' '10123C' '84993A'
 '84925D' '84520B' '17084R' '17091J' '85018D' '47503J' '84247N' '84247K'
 '47504K' '37489D' '17107D' '37489B' '37489C' '37489A' '84534B' '84536A'
 '85130A' '85129C' '84849A' '84559A' '84559B' '85230B' '85230F' '84849D'
 '84507C' '82616C' '82616B' '90128B' '90196B' '90198B' '90152B' '84877D'
 '47503H' '47343A' '72802A' '72807B' '72802B' '84562A' '82011C' '85036B'
 '85035A' '85034C' '84614A' '85135C' '84924A' '35810B' '17109D' '85034B'
 '72800D' '90185D' '90175A' '90162B' '90162D' '84898F' '47310M' '84508B'
 '84279P' '84963A' '72349B' '84993B' '85206A' '84536B' '84596G' '77101A'
 '79149B' '78034B' '79151B' '35471D' '85130D' '84569D' '72351A' '84508C'
 '85179A' '84874B' '85167B' '72051S' '72799F' '84535B' '75013B' '82011B'
 '84563B' '82613B' '79190A' '47593B' '85129D' '85129B' '84968A' '47369A'
 '47369B' '47367B' '16161U' '84597C' '51020A' '51020B' '90200E' '84596L'
 '84596F' '18098C' '85036C' '85170D' '84531A' '84531B' '84809A' '79190D'
 '84795B' '79191B' '85027L' '85017C' '35001W' '84707B' '72807A' '84968F'
 '79030D' '37479B' '37482P' '47594A' '84926D' '84926A' '72801G' '84711A'
 '16169N' '35597A' '35597B' '84596B' '79030G' '72351B' '84912A' '85036A'
 '84569A' '90179C' '90060D' '79051A' '85169A' '17007B' '10124A' '46000P'
 '40005B' '18094C' '47586A' '46115B' '15044C' '84925F' '16169K' '84707A'
 '47574A' '37479P' '84912B' '17084J' '84968D' '85232D' '84247E' '85170B'
 '84596J' '85170A' '85026B' '90175D' '82001S' '90212B' '90212C' '47348A'
 '90214C' '90214B' '90214K' '85039C' '85024C' '84613C' '84910A' '16202E'
 '90184B' '90184A' '84415B' '71496A' '71495B' '85230G' '35833P' '16168M'
 '84952A' '84706D' '84247L' '85170C' '84875B' '84876D' '90211B' '79190B'
 '90036D' '37444B' '85039B' '85040B' '17084N' '17084P' '84798A' '84913B'
 '84913A' '85032A' '85032C' '47578A' '84951A' '84951B' '17165D' '15058A'
 '16169P' '90081C' '84595E' '84459B' '35915B' '85086A' '81950V' '17012D'
 '17012B' '17012E' '17012F' '35004P' '15058B' '85230E' '84509C' '90186B'
 '90190C' '90003D' '90003C' '90067A' '90003B' '85032B' '85017B' '47593A'
 '85136B' '85031A' '84660B' '85040A' '90036E' '90160A' '90160B' '90161B'
 '90160C' '90160D' '82011A' '85183A' '35610B' '35610C' '84927E' '90129A'
 '90120D' '90162C' '90014B' '84575A' '84313C' '84313B' '90125D' '90210A'
 '85169D' '90210C' '90210D' '35095B' '84927A' '85194L' '84660A' '84509E'
 '82613C' '47503A' '90125A' '85180B' '85180A' '85159B' '84660C' '90058B'
 '84597B' '62094B' '84673A' '84673B' '17013D' '82613D' '90185A' '90161D'
 '90161C' '90129C' '90129B' '85039A' '35610A' '35817P' '35599B' '90042A'
 '90060B' '90035A' '90179A' '84751B' '84507B' '17012C' '17014A' '17012A'
 '47594B' '90209C' '84877B' '84078A' '84926F' '35911A' '85031C' '84613A'
 '85169C' '84750B' '72800C' '17011F' '35809A' '35810A' '35607A' '84859A'
 '85031B' '85205B' '85163A' '85163B' '85232A' '46000U' '90177D' '90161A'
 '90177B' '90198A' '90199D' '90014A' '90178B' '85023B' '84804A' '84800L'
 '84800M' '84802A' '84806A' '16207A' '85130B' '84249A' '90027A' '90027D'
 '90019A' '90040A' '90120C' '90040B' '85230A' '90214D' '72225C' '82613A'
 '85135A' '15044A' '84459A' '90165B' '16206B' '46138B' '47585A' '84926E'
 '85194S' '35911B' '84989A' '84968E' '79071B' '16169M' '84931A' '84931B'
 '35909A' '35910A' '84927F' '79323B' '47518F' '16156L' '85025B' '47351B'
 '84251B' '84251G' '84251C' '84510C' '84741C' '90123B' '90123C' '90122A'
 '90184C' '90122C' '75049L' '85023C' '79323P' '44091A' '85019B' '16207B'
 '47556B' '62086A' '35912B' '85206B' '84745A' '84745B' '85186C' '90010B'
 '85186A' '90125B' '85131D' '85131C' '85131B' '84806B' '85188B' '15044D'
 '35095A' '84796B' '79323W' '37379A' '90214R' '84510E' '84801A' '84927D'
 '84800S' '79192A' '85130C' '40046A' '72799C' '71101E' '79191D' '90214G'
 '46775D' '90197B' '90125C' '35913B' '90123D' '90123A' '90010E' '90016B'
 '90016A' '85188A' '85160B' '85024B' '71496B' '35915C' '17028J' '17084A'
 '84795C' '62074B' '84279B' '84801B' '84805A' '17136A' '84712B' '84708B'
 '44089A' '84086C' '84429A' '37462E' '90037B' '15058C' '84659A' '35815P'
 '90202B' '90202C' '90039C' '90120B' '90122B' '90010A' '90064B' '90011B'
 '90064A' '90063A' '90063B' '44089C' '35909B' '90180B' '90152C' '90152A'
 '90018A' '84663A' '35637A' '84661C' '84857C' '84859C' '79063D' '79062D'
 '47341A' '44092C' '44092B' '90018B' '90065A' '90024F' '90026D' '90024C'
 '90000B' '90000D' '90000A' '90026C' '90026B' '35638A' '90209B' '84876B'
 '46776B' '35637C' '90214A' '84809B' '84858C' '72140E' '35916C' '84802B'
 '84803B' '16020C' '46776C' '90141C' '90141A' '90183C' '90124B' '79026B'
 '35607B' '84798B' '90040C' '90038B' '90038C' '90214P' '35916A' '62096B'
 '16248B' '84086B' '79063C' '84535A' '16202A' '85098B' '17129F' '16161G'
 '90201B' '47013A' '84968B' '35910B' '46776E' '84750A' '37488A' '47344B'
 '46126A' '90036F' '90030B' '47013C' '84796A' '84569C' '85028S' '85028L'
 '85017A' '90164A' '90124A' '90124C' '84743C' '90014C' '35809B' '84877A'
 '84875D' '84872A' '90024D' '90001C' '90025A' '90142D' '37487B' '84856S'
 '44242B' '46776A' '46776F' '46776D' 'PADS' '16202B' '79144C' '72024U'
 '90164B' '90163A' '90163B' '16244B' '47341B' '62097B' '62043B' '90201D'
 '90201C' '90201A' '71495A' '84705C' '90058A' '35599D' '84859B' '90036A'
 '90130B' '90036C' '16151A' '90039D' '90039B' '90039A' '90035C' '47574B'
 '84661A' '90214Y' '84873A' '84804B' '90202D' '84984B' '84984A' '90013C'
 '90141B' '90125E' '84711B' '84206C' '90059F' '90206C' '90206A' '35818P'
 '90214E' '84661B' '84415A' '90214L' '90214N' '90214H' '16162L' '90026A'
 '90036B' '90001A' '90001D' '90001B' '90190B' '90190A' '90187B' '85168B'
 '72369A' '90176D' '81952B' '81952V' '81950B' '90205C' '90205A' '84706F'
 '44242A' '84924F' '81953B' '81953P' '90214I' '90030C' '90030A' '90141D'
 '90141E' '37491D' '37491B' '37491C' '84402B' '16162M' '84857B' '84732D'
 '84732B' '84387A' '16169E' '35638B' '84984D' '85179C' '90019B' '84963B'
 '90209A' '90013A' '35816P' '35597D' '35818B' '35916B' '84206A' '84201B'
 '90176C' '90176E' '90003E' '90018C' '90024B' '90211A' '84201C' 'DOT'
 'CRUK' '35819B' '90183A' '90019C' '90038A' '35819P' '84805B' '90059A'
 '90059D' '90202A' '90177A' '90177E' '90182C' '90129D' '90129E' '90012A'
 '79157V' '90189A' '90012B' '90025F' '79157B' '90181A' '90199B' '90176A'
 '90176B' '90162A' '79161A' '90065B' '17191A' '35598C' '35598A' '84206B'
 '90130A' '90011A' '90214F' '90214O' '90214T' '90214U' '90214W' '90214Z']
Count: 886

In [31]:
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'], dayfirst=True, errors='coerce')
df_clean['InvoiceYear'] = df_clean['InvoiceDate'].dt.year
df_clean['InvoiceMonth'] = df_clean['InvoiceDate'].dt.month
df_clean['InvoiceDay'] = df_clean['InvoiceDate'].dt.day
df_clean['InvoiceHour'] = df_clean['InvoiceDate'].dt.hour
df_clean['InvoiceWeekday'] = df_clean['InvoiceDate'].dt.weekday

In [32]:
invalid_dates = df_clean[df_clean['InvoiceDate'].isna()]
print(f"Number of invalid dates: {len(invalid_dates)}")
print(invalid_dates.head())

Number of invalid dates: 0
Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, InvoiceYear, InvoiceMonth, InvoiceDay, InvoiceHour, InvoiceWeekday, TransactionType]
Index: []

In [33]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,InvoiceWeekday,TransactionType
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1,8,2,Sale
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,2,Sale
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,1,8,2,Sale
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,2,Sale
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,2,Sale

In [34]:
df_clean.to_csv('D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/df_clean.csv', index=False)

### Encoding

In [4]:
df_clean = pd.read_csv("D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/df_clean.csv")

In [5]:
df_clean = df_clean.drop(columns=['InvoiceDate'])

In [6]:
cat_cols = ['InvoiceNo', 'StockCode', 'Description', 'Country', 'TransactionType']
for col in cat_cols:
    le = LabelEncoder()
    df_clean[col] = le.fit_transform(df_clean[col])
    
    joblib.dump(le, f"D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/le_{col}.pkl")

In [8]:
df_clean.head(20)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,InvoiceWeekday,TransactionType
0,0,3249,3716,6,2.55,17850.0,35,2010,12,1,8,2,1
1,0,2649,3724,6,3.39,17850.0,35,2010,12,1,8,2,1
2,0,2855,861,8,2.75,17850.0,35,2010,12,1,8,2,1
3,0,2803,1813,6,3.39,17850.0,35,2010,12,1,8,2,1
4,0,2802,2776,6,3.39,17850.0,35,2010,12,1,8,2,1
5,0,1605,2977,2,7.65,17850.0,35,2010,12,1,8,2,1
6,0,755,1444,6,4.25,17850.0,35,2010,12,1,8,2,1
7,1,1490,1562,6,1.85,17850.0,35,2010,12,1,8,2,1
8,1,1489,1559,6,1.85,17850.0,35,2010,12,1,8,2,1
9,2,3069,217,32,1.69,13047.0,35,2010,12,1,8,2,1
10,2,1598,2615,6,2.10,13047.0,35,2010,12,1,8,2,1
11,2,1601,2616,6,2.10,13047.0,35,2010,12,1,8,2,1
12,2,1602,1216,8,3.75,13047.0,35,2010,12,1,8,2,1
13,2,1191,1710,6,1.65,13047.0,35,2010,12,1,8,2,1
14,2,3124,526,6,4.25,13047.0,35,2010,12,1,8,2,1
15,2,1480,532,3,4.95,13047.0,35,2010,12,1,8,2,1
16,2,1479,531,2,9.95,13047.0,35,2010,12,1,8,2,1
17,2,771,1654,3,5.95,13047.0,35,2010,12,1,8,2,1
18,2,772,1933,3,5.95,13047.0,35,2010,12,1,8,2,1
19,2,783,2680,4,7.95,13047.0,35,2010,12,1,8,2,1

In [9]:
df_clean.to_csv('D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/df_encoded.csv', index=False)

### Scaling

In [10]:
scaler = MinMaxScaler()
df_clean[:] = scaler.fit_transform(df_clean)

joblib.dump(scaler, "D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/scaler.pkl")

['D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/scaler.pkl']

In [11]:
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,InvoiceWeekday,TransactionType
0,0.0,0.882161,0.954044,0.500037,0.000065,0.926443,0.972222,0,1.0,0.0,0.142857,0.333333,1
1,0.0,0.719251,0.956098,0.500037,0.000087,0.926443,0.972222,0,1.0,0.0,0.142857,0.333333,1
2,0.0,0.775183,0.221053,0.500049,0.000071,0.926443,0.972222,0,1.0,0.0,0.142857,0.333333,1
3,0.0,0.761064,0.465469,0.500037,0.000087,0.926443,0.972222,0,1.0,0.0,0.142857,0.333333,1
4,0.0,0.760793,0.712709,0.500037,0.000087,0.926443,0.972222,0,1.0,0.0,0.142857,0.333333,1

In [12]:
df_clean.to_csv('D:/Machine Learning Projects/5. Behavioral Segmentation of Retail Customers using Clustering/df_scaled.csv', index=False)